@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #cf0e0e;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #e70000;
  text-decoration: inherit;
}
a:hover {
  color: #882222;
}

body {
  margin: 0;
}

h1 {
  font-size: 1rem;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
    /* background: url('https://media.istockphoto.com/id/931936960/id/vektor/%C3%B0%C3%B0%C3%B1%C3%B0%C3%B01-2%C3%B1%C3%B0%CE%BC%C3%B01-2%C3%B0%CE%BC%C3%B1%C3%B0.jpg?s=612x612&w=0&k=20&c=fZjK6RgyUpeqyfa4ItmWmkkpi84QPqzu4pIE7qKil20=')center/contain no-repeat; */
    /* height: 100vh; */
    background-size: contain;
    background-position: center;
  }
  a:hover {
    color: #94f5d0;
  }
  button {
    background-color: rgb(255, 59, 59);
  }
  
}

/* sidebar styling */
.profile-container {
  /* Style the profile container as needed */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem; /* Adjust spacing between profile and cards */
}
 
.cards-container {
  display: grid; /* Switch to grid layout */
  align-items: center;
  grid-template-columns: repeat(2, 1fr); /* Create two equal-width columns */
  gap: 5rem; /* Adjust spacing between cards */
  height: 100%; /* Ensure container fills available height */
}
 
.card-icon-container .icon {
  font-size: 3rem; /* Adjust size as desired */
}
 
.profile-container .icon {
  font-size: 1rem; /* Adjust size as desired */
}
 
.card-icon-container h1 {
  font-size: 1.5rem; /* Adjust size as desired */
}
 
.card {
  border: 1px solid #ccc;
  padding: 2rem;
  border-radius: 30px;
  display: flex;
  width: 50%; /* Or adjust as desired */
  margin: 1rem 0; /* Optional spacing between cards */
  align-items: center; /* Center icon vertically */
  justify-content: center; /* Center icon horizontally */
  cursor: pointer; /* Indicate hover interactivity */
}
 
.card:hover {
  background-color: #f5f5f5; /* Highlight card on hover */
}
